/* div {
    border: 1px solid black;
} */

.sideContents .mainTitle {
    flex: unset;
    align-items: flex-start;
}

/* 버튼 */
button {
    padding: 10px 20px;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    background-color: #558BCF;
    color: #fff;
}

button.cancel {
    background-color: #dc3545;
}

button.modi {
    background-color: #888;
}

button.save {
    background-color: #168216;
}

button:hover,
button:active {
    cursor: pointer;
    background-color: #1268d4;
}

button.cancel:hover,
button.cancel:active {
    background-color: #c51221;
}

button.save:hover,
button.save:active {
    background-color: #096309;
}

button.modi:hover,
button.modi:active {
    background-color: #555;
}

/* 사이드 메뉴 토글 효과 */
.sideAbout .addressListPrivate {
    padding-bottom: 30px;
}

/* 공통 스타일 */
.toggleItem .toggleTit {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.toggleItem .toggleTit::after {
    content: "";
    display: block;
    width: 20px;
    height: 23px;
    background-image: url(../images/icon/toggle.png);
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease;
    transform: rotate(0deg);
}

.toggleItem .toggleTit.active::after {
    transform: rotate(180deg);
}

.subList {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    padding-left: 20px;
}

.subList.active {
    max-height: 500px;
    /* 적당히 큰 값으로 설정 */
    opacity: 1;
}

.subList li:not(:last-child) {
    padding-bottom: 8px;
}

.subList li a.active {
    color: #558BCF;
    font-weight: 600;
}

/* 전자 결제 메인 화면 */
.eApproval {
    gap: 10px;
}

.eApproval .docuList {
    flex: 4.5;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}

.eApproval .docuList .subTitle {
    font-size: 22px;
    display: flex;
    align-items: center;
}

.eApproval .docuList .subTitle .titleIcon {
    padding: 0 10px;
}

.eApproval .docuList .subTitle .titleIcon .bx {
    line-height: 2;
    color: #c1c1c1;
}

.eApproval .docuList .subTitle .infoBox {
    display: none;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    bottom: 7px;
}

#progInfo:checked~.infoBox,
#doneInfo:checked~.infoBox {
    display: block;
}

.eApproval .docuList .listBox {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.eApproval .docuList .listBox .rows {
    flex: 1;
    display: flex;
    border-bottom: 1px solid #c1c1c1;
}

.eApproval .docuList .listBox .rows:last-child {
    border-bottom: 2px solid #888888;
}

.eApproval .docuList .listBox .rows.listHeader {
    border-radius: 15px;
    background-color: #555;
    color: #fff;
}

.eApproval .docuList .listBox .rows .cols {
    padding: 7px 0;
    display: flex;
    justify-content: center;
}

.eApproval .docuList .listBox .rows .cols:nth-child(1),
.cols:nth-child(2),
.cols:nth-child(5) {
    width: 15%;
}

.eApproval .docuList .listBox .rows .cols:nth-child(3) {
    width: 10%;
}

.eApproval .docuList .listBox .rows .cols:nth-child(4) {
    width: 45%;
}

.eApproval .docuList .listBox .rows .cols span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.eApproval .docuList .listBox .rows .cols .emer {
    height: 28px;
}

.eApproval .docuList .listBox .rows:not(.listHeader) .cols:last-child span {
    width: 30%;
    border-radius: 5px;
    color: #fff;
    padding: 5px;
}

.eApproval .docuList .listBox.doneList .rows:not(.listHeader) .cols:last-child span {
    background-color: #26a626;
}

.eApproval .docuList .listBox.progList .rows:not(.listHeader) .cols:last-child span {
    background-color: rgb(255 154 42);
}

.eApproval .docuList.docuBox .listBox.progList .rows:not(.listHeader) .cols:last-child span {
    width: max-content;
}

/* 전자 결재 작성 */
.sideContents.eApprWrite {
    gap: 15px;
}

.eApprWrite .choiBox {
    flex: 1;
}

.eApprWrite .choiBox button {
    margin-right: 5px;
}

.eApprWrite .document {
    flex: 9;
}

.eApprWrite .document .choiBox {
    height: 8%;
}

.eApprWrite .document .docuCont {
    height: 93%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eApprWrite .document .docuCont table,
tr,
th,
td {
    border: 1px solid #888888;
}

.eApprWrite .document .docuCont .docuInfo {
    flex: 3;
    display: flex;
}

.eApprWrite .document .docuCont .docuInfo .infoTable {
    flex: 4;
}

.eApprWrite .document .docuCont .docuInfo .infoTable table {
    width: 90%;
    height: 100%;
}

.eApprWrite .document .docuCont .docuInfo .infoTable table td {
    padding-left: 5px;
}

.eApprWrite .document .docuCont .docuInfo .apprTable {
    display: flex;
    justify-content: end;
}

.eApprWrite .document .docuCont .docuInfo .apprTable table {
    width: 50%;
    height: 100%;
    text-align: center;
}

.eApprWrite .document .docuCont .docuInfo .apprTable table th {
    padding: 2px;
}

.eApprWrite .document .docuCont .docuInfo .apprTable table thead tr th:first-child {
    width: 20%;
}

.eApprWrite .document .docuCont .docuInfo .apprTable table tbody tr:nth-child(2) {
    height: 70%;
}

.eApprWrite .document .docuCont .docuInfo .apprTable table tbody tr:nth-child(2) td {
    width: 50px;
    height: 80px;
    padding: 3px 0;
}

.eApprWrite .document .docuCont .docuInfo .apprTable table tbody tr:nth-child(2) td img {
    width: 50px;
}

.eApprWrite .document .docuCont .docuInfo .apprTable {
    flex: 6;
}

.eApprWrite .document .docuCont .docuWrite {
    flex: 6;
}

.eApprWrite .document .docuCont .docuWrite table {
    width: 100%;
    height: 100%;
}

/* .docuWrite.docuProp => 업무 기안 문서 작성 양식 */
.eApprWrite .document .docuCont .docuWrite.docuProp table thead {
    height: 20%;
}

.eApprWrite .document .docuCont .docuWrite.docuProp table thead td input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.eApprWrite .document .docuCont .docuWrite.docuProp table thead td input[type="date"] {
    width: 94%;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.eApprWrite .document .docuCont .docuWrite.docuProp table thead td input[type="checkbox"] {
    width: max-content;
}

.eApprWrite .document .docuCont .docuWrite table tbody td textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.eApprWrite .document .docuCont .docuWrite.docuProp table thead tr:first-child td:nth-child(2) {
    width: 160px;
}

.eApprWrite .document .docuCont .docuWrite.docuProp table thead tr:first-child td:nth-child(4) {
    width: 58%;
}

.eApprWrite .document .docuCont .docuWrite.docuProp table thead tr:first-child td:last-child {
    width: 9%;
}

.eApprWrite .document .docuCont .docuWrite.docuProp table thead tr:first-child td:last-child div {
    display: flex;
    padding: 0 17px;
    gap: 5px;
    align-items: center;
}

/* .docuWrite.docuLeave => 휴가 신청서 문서 작성 양식 */
.eApprWrite .document .docuCont .docuWrite.docuLeave table thead {
    height: 42%;
}

.eApprWrite .document .docuCont .docuWrite.docuLeave table thead td {
    padding-left: 10px;
}

.eApprWrite .document .docuCont .docuWrite.docuLeave table thead td select {
    width: 90%;
    padding: 5px 7px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.eApprWrite .document .docuCont .docuWrite.docuLeave table thead tr:first-child td input[type="date"] {
    width: 150px;
    padding: 5px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.eApprWrite .document .docuCont .docuWrite.docuLeave table thead tr:first-child td:last-child {
    width: 10%;
}

.eApprWrite .document .docuCont .docuWrite.docuLeave table thead tr:first-child td:last-child div {
    display: flex;
    padding-left: 10px;
    gap: 5px;
}

.eApprWrite .document .docuCont .docuWrite.docuLeave table thead td span {
    padding: 0 15px;
}

.eApprWrite .document .docuCont .docuWrite.docuLeave table thead tr:nth-child(3) td input {
    width: 10%;
    padding: 7px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
}

/* .docuWrite.docuLateness => 지각 사유서 문서 작성 양식 */
.eApprWrite .document .docuCont .docuWrite.docuLateness table thead th {
    width: 15%;
    padding: 13px 0;
}

.eApprWrite .document .docuCont .docuWrite.docuLateness table thead td input[type="date"] {
    margin-left: 10px;
    width: 18%;
    padding: 7px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
}

.eApprWrite .document .docuCont .docuWrite.docuLateness table thead td:last-child {
    width: 10%;
}

.eApprWrite .document .docuCont .docuWrite.docuLateness table thead th:nth-child(3) {
    width: 4%;
}

.eApprWrite .document .docuCont .docuWrite.docuLateness table thead td:last-child div {
    padding: 0 28px;
}

.eApprWrite .document .docuCont .docuFiles {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eApprWrite .document .docuCont .docuFiles input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.eApprWrite .document .docuCont .docuFiles label {
    display: inline-block;
    padding: 13px;
    color: #fff;
    background-color: #444;
    cursor: pointer;
    border-radius: 8px;
}

.eApprWrite .document .docuCont .docuFiles .uploadFiles {
    border: 1px solid #e7e7e7;
    overflow-x: auto;
    width: 91%;
    height: 80%;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
}

.eApprWrite .document .docuCont .docuFiles .uploadFiles::-webkit-scrollbar {
    height: 5px;
}

.eApprWrite .document .docuCont .docuFiles .uploadFiles::-webkit-scrollbar-thumb {
    background: rgb(255, 204, 214);
    border-radius: 10px;
}

.eApprWrite .document .docuCont .docuFiles .uploadFiles::-webkit-scrollbar-track {
    background: rgba(222, 151, 165, 0.1);
}


.eApprWrite .document .docuCont .docuFiles .uploadFiles span {
    text-wrap: nowrap;
}

.eApprWrite .document .docuCont .docuFiles .uploadFiles .delFileBtn {
    color: #c1c1c1;
}

.eApprWrite .document .docuCont .docuFiles .uploadFiles .delFileBtn:hover {
    cursor: pointer;
}

/* 전자 결재 모달창 ( 새 결재 진행 ) */
.eApprModal {
    display: none;
    /* display: flex; */
    border: 1px solid black;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    top: 20vh;
    left: 30vw;
    width: 800px;
    height: 500px;
    padding: 30px 25px;
    flex-wrap: wrap;
    z-index: 2;
}

.eApprModal>div:not(.modalBtnBox) {
    height: 85%;
}

.eApprModal>div:first-child {
    width: 35%;
}

.eApprModal>div:nth-child(2) {
    width: 65%;
}

.eApprModal .modalBtnBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.eApprModal .modalBtnBox button {
    margin-right: 5px;
}

.eApprModal .eApprModalTitle {
    font-size: 22px;
    height: 15%;
}

.eApprModal .choiCont {
    height: 88%;
}

.eApprModal .choiCont ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.eApprModal .choiCont.docuChoi ul li {
    margin-bottom: 10px;
}

.eApprModal .choiCont.apprChoi ul li {
    flex: 1;
}

/* JS 적용 ( 모달창 띄우기 ) 후 수정할 코드 */
.plusBtn.sideBtn:hover~.eApprModal {
    display: flex;
}

/* 전자 결재 문서함 */
.eApproval .docuBox {
    flex: 9;
    gap: 15px;
}

.eApproval .docuBox .toolBar {
    flex: .5;
    padding-bottom: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid #c1c1c1;
}

.eApproval .docuBox .toolBar ul {
    flex: 8;
    display: flex;
}

.eApproval .docuBox .toolBar ul a {
    padding: 10px 0;
    position: relative;
    bottom: -10px;
    margin-right: 20px;
    color: #333;
}

.eApproval .docuBox .toolBar a.active {
    font-weight: 600;
}

.eApproval .docuBox .toolBar a.active::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #888888;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 검색창 */
.eApproval .docuBox .toolBar .searchBox {
    flex: 2;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.eApproval .docuBox .toolBar .searchBox input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 16px;
}

.eApproval .docuBox .toolBar .searchBox button.searchBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    border-radius: 50%;
    transition: background 0.3s;
}

.eApproval .docuBox .toolBar .searchBox button.searchBtn:hover {
    background: #f0f0f0;
}

.eApproval .docuList.docuBox .listBox {
    flex: 9;
}

.eApproval .docuList.docuBox .listBox .rows .cols {
    width: 12%;
}

.eApproval .docuList.docuBox .listBox .rows .cols:nth-child(4) {
    width: 34%;
}

.eApproval .docuList.docuBox .listBox .rows .cols:nth-child(7) {
    width: 8%;
    justify-content: flex-start;
}

/* 페이지내비 */
.eApproval .docuBox .pagination {
    flex: .5;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 전자 결재 반려 모달창 */
.cancelModal {
    display: none;
    /* display: flex; */
    border: 1px solid black;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 10px;
    font-size: 18px;
    position: absolute;
    top: 32vh;
    left: 45vw;
    width: 400px;
    height: 260px;
    padding: 30px 25px;
    z-index: 2;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cancelModal .cancelModalTitle {
    flex: 1;
    font-size: 24px;
}

.cancelModal .cancelComm {
    flex: 4;
    width: 100%;
}

.cancelModal .cancelComm textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 15px;
    border-radius: 8px;
}

.cancelModal .modalBtnBox {
    flex: 1;
    display: flex;
    align-items: end;
    gap: 10px;
}


/* JS 적용 ( 모달창 띄우기 ) 후 수정할 코드 */
.cancel:hover~.cancelModal {
    display: flex;
}