.board .boardList {
    flex: 4.5;
    padding: 0 30px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.boardList .controls {
    flex: 1;
    background-color: azure;
}

.boardList .notiList {
    flex: 5;
    background-color: rgb(219, 243, 181);
}

.boardList .pageNavi {
    flex: 1;
    background-color: rgb(224, 185, 242);
}