 /* 공통css */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     list-style-type: none;
     text-decoration: none;
 }

 a {
     text-decoration: none;
 }

 div {
     /* border: 1px solid black; */
     font-family: 'Interop';
 }

 @font-face {
     font-family: 'Interop';
     src: url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff2') format('woff2'),
         url('https://raw.githubusercontent.com/payw-org/Interop/main/web/fonts/Interop-Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
     font-display: block;
 }

 body {
     background-color: #eeeff6;
     height: 100vh;
 }

 .container {
     width: 100%;
     padding: 20px;
     display: flex;
     gap: 20px;
     height: 100%;
 }

 .userImg {
     width: 70px;
     border-radius: 100%;
     border: 3px solid #eee;
     /* \: 50px; */
     transition: all 0.5s ease;
 }

 .sideBar {
     width: 100px;
     background-color: #558BCF;
     padding: 0.8rem;
     transition: all 0.5s ease;
     border-radius: 25px;
     position: relative;
     display: flex;
     flex-direction: column;
     align-content: center;
 }

 .sideBar.active~.main-content {
     width: 100%;
 }

 .sideBar.active {
     width: 300px;
 }

 .sideBar #btn {
     font-size: 2.5rem;
     line-height: 50px;
     cursor: pointer;
     color: white;
     transition: all 0.5s ease;
     display: inline-block;
 }

 .sideBar.active .top {
     justify-content: flex-start;
     transition: all 0.5s ease;
 }

 .sideBar.active #btn {
     /* left: 10%; */
 }

 .sideBar .top {
     margin-bottom: 35px;
     display: flex;
     width: 100%;
     justify-content: center;
     transition: all 0.5s ease;
 }

 .sideBar .top .logo {
     color: #fff;
     display: flex;
     height: 50px;
     width: 100%;
     align-items: center;
     pointer-events: none;
     opacity: 0;
 }

 .sideBar.active .top .logo {
     /* opacity: 1; */
 }

 .top .logo i {
     font-size: 2rem;
     margin-right: 5px;
 }

 .user {
     align-items: center;
     justify-content: center;
     /* margin: 1rem 0; */
     display: flex;
     flex-direction: column;
     margin-bottom: 30px;
 }

 .user p {
     color: #fff;
     opacity: 1;
     margin-left: 1rem;
 }

 .bold {
     font-weight: 600;
 }

 .sideBar p {
     opacity: 0;
     transition: all 0.5s ease;
 }

 .sideBar.active p {
     opacity: 1;
     font-size: 30px;
     margin-top: 10px;
     /* transition: all 0.5s ease; */
 }

 .sideBar.active .userImg {
     width: 150px;
 }

 .sideBar ul {
     display: flex;
     flex-direction: column;
     gap: 5px;
     width: 100%;
 }

 .sideBar ul li {
     display: flex;
     width: 100%;
     position: relative;
 }

 .sideBar ul li a {
     color: #fff;
     display: flex;
     align-items: center;
     border-radius: 0.8rem;
     font-size: 21px;
     /* padding: 10px 20px; */
     /* line-height: 50px; */
     width: 100%;
     flex-wrap: wrap;
     height: 100%;
 }

 .sideBar.active ul li a {
     flex-wrap: nowrap;
     gap: 20px;
     padding: 0 20px;
 }

 .sideBar ul li a:hover {
     background-color: #1b6dd461;
     width: 100%;
     color: white;
 }

 .sideBar ul li a i {
     height: 50px;
     border-radius: 12px;
     line-height: 50px;
     width: 100%;
     display: flex;
     justify-content: center;
 }

 .sideBar.active ul li a i {
     width: auto;
 }

 .sideBar .navItem {
     opacity: 0;
     /* 한글이 세로로 출력되서 추가함 */
     white-space: nowrap;
     transition: all 0.5s ease;
     width: 0;
     height: 0;
 }

 .sideBar.active .navItem {
     opacity: 1;
     width: auto;
     height: auto;
 }

 .nickName {
     border: none;
 }

 .sideBar ul li .toolTip {
     position: absolute;
     left: 92px;
     top: calc((100% - 45px)/2);
     box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
     border-radius: .6rem;
     padding: .5rem .6rem;
     line-height: 1.8rem;
     z-index: 20;
     opacity: 0;
     /* 한글이 세로로 출력되서 추가함 */
     white-space: nowrap;
     background-color: white;
     font-size: 20px;
 }

 .sideBar ul li:hover .toolTip {
     opacity: 1;
 }

 .sideBar.active ul li .toolTip {
     display: none;
 }

 /* 공통영역 css 끝 */


 .main-content {
     transition: all 0.5s ease;
     width: 100%;
     display: flex;
     flex-direction: column;
     gap: 20px 0;
 }

 .header {
     height: 90px;
     background-color: white;
     /* border-top-left-radius: 20px;
     border-top-right-radius: 20px; */
     padding: 20px;
     background-color: #558BCF;
     display: flex;
     justify-content: flex-end;
     border-radius: 25px;
     gap: 30px;
     align-items: center;
 }

 .header span {
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .header span a {
     text-decoration: none;
     color: #fff;
     font-size: 20px;
 }

 .alert,
 .logOut,
 .myName {
     font-size: 20px;
     font-weight: bold;
 }

 .header .myName {
     gap: 10px;
 }

 .header .myName img {
     max-height: 50px;
     border-radius: 100%;
 }

 .contents {
     flex: 4;
     /* flex:4까지 공통요소 */
     display: flex;
     /* border-bottom-left-radius: 20px;
     border-bottom-right-radius: 20px; */
     gap: 20px;
 }



 .left {
     flex: 1;
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .leftTop {
     border-radius: 20px;
     flex: 1;
     background-color: #fff;
 }

 .leftBottom {
     flex: 1;
     border-radius: 20px;
     background-color: #fff;
 }

 .center {
     flex: 2;
     background-color: #fff;
     border-radius: 25px;
 }

 .right {
     flex: 1;
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .rightTop {
     flex: 1;
     background-color: #fff;
     border-radius: 20px;
 }

 .rightBottom {
     flex: 1;
     background-color: #fff;
     border-radius: 20px;
 }

 /* sideBar 오른쪽에 sub sideBar */
 .sideAbout {
     flex: 1;
     background-color: #a6a9c096;
     border-radius: 25px;
 }

 .sideContents {
     flex: 6;
     background-color: #dfdfdf;
     border-radius: 25px;
 }


 /* 게시판 css start */