/* 공통css 수정부분 */
#container {
    width: 100% !important;
    padding: 20px !important;
    display: flex !important;
    gap: 20px !important;
    height: 100% !important;
}

.alert {
    padding: 0;
    margin: 0;
}


/* 사이드 영역 CSS */
.sideAbout {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 25px;
    color: #333;
}

/* 사이드 타이틀 */
.sideAbout .sideTit {
    font-size: 26px;
    padding-bottom: 30px;
    color: #333;
}

/* 사이드 버튼 */
.sideAbout .sideBtnBox {
    padding-bottom: 30px;
}

.sideAbout .sideBtn {
    width: 100%;
    padding: 15px 30px;
    background-color: #fff;
    border: 3px solid #558BCF;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #558BCF;
}

/* 버튼 효과 */
.sideAbout .sideBtn:hover,
.sideAbout .sideBtn:focus,
.sideAbout .sideBtn:active {
    background-color: #558BCF;
    color: #fff;
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
}

/* 개인 사이드 메뉴 토글 효과 */
.sideAbout .addressListPrivate {
    padding-bottom: 30px;
}

/* 공통 스타일 */
.toggleItem .toggleTit {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.toggleItem .toggleTit::after {
    content: "";
    display: block;
    width: 20px;
    height: 23px;
    background-image: url(../WIT_Front_End/images/icon/toggle.png);
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.5s ease;
    transform: rotate(0deg);
}

.toggleItem .toggleTit.active::after {
    transform: rotate(180deg);
}

.subList {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    padding-left: 20px;
}

.subList.active {
    max-height: 500px;
    /* 적당히 큰 값으로 설정 */
    opacity: 1;
}

.subList li:not(:last-child) {
    padding-bottom: 8px;
}

.subList li a.active {
    color: #558BCF;
    font-weight: 600;
}

/* 주소록 검색창 */
.searchBox {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* height: 5%; */
    height: 40px;
}

.searchBox input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 16px;
}

.searchBox button.searchBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    border-radius: 50%;
    transition: background 0.3s;
}

.searchBox button.searchBtn:hover {
    background: #f0f0f0;
}

/* board css start */
.board .boardList {
    flex: 8;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    gap: 10px;
}

.boardList .controls {
    /* flex: 1; */
    height: 50px;
    /* background-color: azure; */
    display: flex;
    align-items: center;
}

.boardList .controls .search {
    flex: 7;
    display: flex;
    align-items: center;
    height: 80%;
    gap: 5px;
}

.boardList .controls .search #searchOpt {
    /* flex: 1; */
    width: 60px;
    /* border-radius: 10px; */
    height: 100%;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

.boardList .controls .sort {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.boardList .controls .sort #sortOpt {
    width: 70px;
    /* border-radius: 10px; */
    height: 100%;
    border: none;
    font-weight: bold;
    font-size: 16px;
}

/* board list css start */
.boardList .notiList {
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 10px;
}

.boardList .notiList .rows {
    flex: 1;
    display: flex;
    border-bottom: 1px solid #c1c1c1;
}

.boardList .notiList .notiConts:hover {
    transition: 0.2s;
    background-color: #96a8bf1a;
}

.boardList .notiList .notiHeader {
    border-radius: 15px;
    background-color: #555;
    color: #fff;
}

.boardList .notiList .rows .cols {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boardList .notiList .rows .boardSeq {
    flex: 1;
}


.boardList .notiList .rows .boardTitle {
    flex: 4;
}

.boardList .notiList .rows .boardWriter {
    flex: 1;
}

.boardList .notiList .rows .boardDate {
    flex: 2;
}

.boardList .notiList .rows .boardView {
    flex: 1;
}

/* pagenavi css start */
.boardList .pageNavi {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* detail_board.html css start */
.boardDetail {
    max-height: 650px;
    flex: 8;
    padding: 0 30px;
    display: flex;
    /* flex-direction: column; */
    /* background-color: red; */
    /* overflow-y: scroll; */
    /* flex-direction: column; */
    height: auto;
    gap: 20px;
}

.boardDetail .detail {
    /* flex: 8; */
    flex: 6;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
}

.boardDetail .detail .detailTop {
    flex: 1;
    background-color: #555;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.boardDetail .detail .detailCen {
    background-color: rgb(249, 222, 226);
    border: 3px solid black;
    margin: 20px;
}

.boardDetail .detail .detailTop .top {
    display: flex;
    margin: 20px;
    height: 2px;
    gap: 20px;
    align-items: center;
}

.boardDetail .detail .detailTop .top span {
    /* padding: 20px; */
}

.boardDetail .detail .detailTop .top .topTitle {
    flex: 7;
    font-size: 20px;
}

.boardDetail .detail .detailTop .top .topFile {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-size: 1.2rem;
}

.boardDetail .detail .detailTop .top .topFile i {
    font-size: 24px;
}

.boardDetail .detail .deailTop .top .bx-str {
    font-size: 1.5rem;
}

.boardDetail .detail .detailCen {
    flex: 7;
    background-color: rgb(255 255 255);
    border: 3px solid #555;
    margin: 10px 0 10px 0;
    border-radius: 10px;
    padding: 20px;
}

/* free board buttons css  */
.boardDetail .detail .detailBott {
    padding: 0 20px 0 20px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-end;
}

.boardDetail .detail .detailBott #reportBtn {
    padding: 10px 20px;
    border: 1px solid #dc3545;
    border-radius: 8px;
    background-color: #dc3545;
    color: white
}

.boardDetail .detail .detailBott #reportBtn:hover {
    background-color: #c51221;
}

.boardDetail .detail .detailBott #fboardUpd,
.boardDetail .detail .detailBott #boardUpd {
    padding: 10px 20px;
    border: 1px solid #26a626;
    border-radius: 8px;
    background-color: #26a626;
    color: white
}

.boardDetail .detail .detailBott #fboardUpd:hover,
.boardDetail .detail .detailBott #boardUpd:hover {
    background-color: #168216;
}

.boardDetail .detail .detailBott #fboardDel,
.boardDetail .detail .detailBott #boardDel {
    padding: 10px 20px;
    border: 1px solid #dc3545;
    border-radius: 8px;
    background-color: #dc3545;
    color: white
}

.boardDetail .detail .detailBott #fboardDel:hover,
.boardDetail .detail .detailBott #boardDel:hover {
    background-color: #c51221;
}

.boardDetail .detail .detailBott #fboardList,
.boardDetail .detail .detailBott #boardList {
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 8px;
    background-color: #888;
    color: white
}

.boardDetail .detail .detailBott #fboardList:hover,
.boardDetail .detail .detailBott #boardList:hover {
    background-color: #555;
}

/* write page css start */
.writeWrapper {
    flex: 7;
    background-color: #ebf3fda3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
}

.writeWrapper .writeTitle {
    /* flex: 1; */
    height: 40px;
    border: 3px solid #558BCF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
}

/* input type file 커스터마이징 */
.writeWrapper .formInputFileWrap {
    display: flex;
    margin-top: 20px;
}

.writeWrapper .formInputFileWrap .labelFile {
    width: 80px;
    height: 40px;
    line-height: 30px;
    background: #999;
    border-radius: 3px;
    color: #fff;
    /* font-weight: bold; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.writeWrapper .formInputFileWrap .spanFile {
    padding: 0 5px 0 10px;
    margin-left: 5px;
    display: block;
    width: 500px;
    min-height: 40px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    line-height: 40px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;

}

.writeWrapper .formInputFileWrap input[type="file"] {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/**/

.writeWrapper .writeCont {
    flex: 8;
    background-color: white;
    /* border-radius: 10px; */
    padding: 20px;
    /* margin: 20px; */
    max-height: 700px;
}

.writeWrapper .writeBtns button {
    height: 50px;
    margin-top: 20px;
}

.writeWrapper .writeBtns {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 70px;
}

.writeWrapper .writeBtns #writeList {
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 8px;
    background-color: #888;
    color: #fff;
}

.writeWrapper .writeBtns #writeList:hover {
    background-color: #555;
}

.writeWrapper .writeBtns #writeInsert {
    padding: 10px 20px;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    background-color: #558BCF;
    color: white
}

.writeWrapper .writeBtns #writeInsert:hover {
    background-color: #1268d4;
}

/* detail page reply css start */
.replyWrapper {
    flex: 4;
    height: calc(100% - 60px);
    overflow: hidden;
}

.replyWrapper .replyCount {
    flex: 1;
}

.replyWrapper .replyCount span {
    font-weight: bold;
}

.replyWrapper .replyList {
    /* overflow-y: scroll; */
    height: 600px;
    overflow: auto;
}

.replyWrapper .replyList::-webkit-scrollbar {
    width: 10px;
}

.replyWrapper .replyList::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.replyWrapper .replyList::-webkit-scrollbar-track {
    background-color: gray;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}

.boardDetail .reply {
    flex: 2;
    /* background-color: rgb(242, 245, 211); */
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 3px solid #555;
    border-radius: 10px;
    margin-bottom: 20px;
    gap: 10px;
}

.boardDetail .replyCont {
    flex: 4;
    /* background-color: aqua; */


}

.boardDetail .replyCont .writeRly {
    background-color: #eee;
    width: 100%;
    /* height: 100%; */
    height: 100px;
    padding: 5px;
}

.boardDetail .replyBtn {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 4px
}

/* report modal css start */
.replyControls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dialog {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.dialog .tb {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.dialog>.tb .inner {
    width: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 16px;
    max-width: 800px;
}

.dialog .top {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.dialog .title {
    font-weight: bold;
    font-size: 20px;

}

.dialog .ct {
    max-height: 60vh;
    height: 200px;
    overflow-y: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

.dialog .ct .reporter,
.dialog .ct .reportSort {
    flex: 1;
    display: flex;
    align-items: center;

}

.dialog .ct .reportNick,
.dialog .ct .sort {
    display: flex;
    /* justify-content: center; */
    font-weight: 400
}

.dialog .ct .reportNick,
.dialog .ct .sort {
    flex: 1;
    font-weight: 900;
    color: #0d6efd;
}

.dialog .ct .reportInput,
.dialog .ct .selectSort {
    width: 350px;
}



.dialog .ct .reportInput {
    border: 3px solid #bfd9ff;
    padding: 10px 20px;
    border-radius: 10px;
}

.dialog .ct .reportSort select {
    border: 3px solid #bfd9ff;
    padding: 10px 20px;
    border-radius: 10px;
}

/* main 게시판 개인 영역 */
.center .boardList {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.pentagon-arrow {
    width: 200px;
    /* 너비를 원하는 크기로 조정하세요 */
    height: 50px;
    /* 높이를 원하는 크기로 조정하세요 */
    background-color: #558BCF;
    color: white;
    /* 배경색을 이미지의 색상과 맞춤 */
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.mainTitle {
    padding: 10px;
}