/* div {
    border: 1px solid black;
} */

/* 사이드 메뉴 토글 효과 */
.sideAbout .addressListPrivate {
    padding-bottom: 30px;
}

/* 공통 스타일 */
.toggleItem .toggleTit {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.toggleItem .toggleTit::after {
    content: "";
    display: block;
    width: 20px;
    height: 23px;
    background-image: url(../images/icon/toggle.png);
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease;
    transform: rotate(0deg);
}

.toggleItem .toggleTit.active::after {
    transform: rotate(180deg);
}

.subList {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    padding-left: 20px;
}

.subList.active {
    max-height: 500px;
    /* 적당히 큰 값으로 설정 */
    opacity: 1;
}

.subList li:not(:last-child) {
    padding-bottom: 8px;
}

.subList li a.active {
    color: #558BCF;
    font-weight: 600;
}

/* 예약 관리 메인 화면 */
.reservation .reservList {
    flex: 9;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 5px;
}

.reservation .reservList .subTitle {
    font-size: 22px;
    display: flex;
    align-items: center;
    flex: .5;
}

.reservation .reservList .listBox {
    flex: 9;
    /* height: 85%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.reservation .reservList .listBox .rows {
    flex: 1;
    display: flex;
    border-bottom: 1px solid #c1c1c1;
}

.reservation .reservList .listBox .rows:last-child {
    border-bottom: 2px solid #888888;
}

.reservation .reservList .listBox .rows.listHeader {
    border-radius: 15px;
    background-color: #555;
    color: #fff;
}

.reservation .reservList .listBox .rows .cols {
    padding: 7px 0;
    display: flex;
    justify-content: center;
}

.reservation .reservList .listBox .rows .cols:nth-child(1),
.cols:nth-child(2) {
    width: 15%;
}

.reservation .reservList .listBox .rows .cols:nth-child(3) {
    width: 40%;
}

.reservation .reservList .listBox .rows .cols:nth-child(4) {
    width: 30%;
}

.reservation .reservList .listBox .rows .cols:nth-child(5) {
    width: 10%;
}

.reservation .reservList .listBox .rows .cols span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.reservation .reservList .listBox .rows .cols span.emer {
    color: rgb(245, 115, 115);
    width: 45%;
    border: 1px solid rgb(245, 115, 115);
    border-radius: 25px;
}

.reservation .reservList .reservBoxNavi {
    flex: .5;
    display: flex;
    align-items: end;
    justify-content: center;
}

/* 회의실 예약 페이지 */
.reservation .reservBox {
    flex: 9;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reservation .reservBox>div {
    /* border: 1px solid black; */
}

.reservation .reservBox .reservInfo {
    flex: 4;
    border-radius: 10px;
    padding: 15px;
    background-color: #c1c1c14c;
}

.reservation .reservBox .reservInfo .infoTitle {
    font-size: 22px;
    height: 20%;
}

.reservation .reservBox .reservInfo .infoCont {
    height: 80%;
    display: flex;
    flex-direction: column;
}

.reservation .reservBox .reservInfo .infoCont .infoList {
    flex: 1;
}

.reservation .reservBox .reservChoice {
    flex: 6;
}

.reservation .reservBox .reservChoice.reservList .listBox .rows .cols:nth-child(1),
.cols:nth-child(5) {
    width: 10%;
}

.reservation .reservBox .reservChoice.reservList .listBox .rows .cols:nth-child(2) {
    width: 35%;
}

.reservation .reservBox .reservChoice.reservList .listBox .rows .cols:nth-child(3) {
    width: 40%;
}

.reservation .reservBox .reservChoice.reservList .listBox .rows .cols:nth-child(4) {
    width: 5%;
}

.reservation .reservBox .reservChoice.reservList .listBox .rows .cols input {
    height: 70%;
}

.reservation .reservBox .reservChoice.reservList .listBox .rows .cols:nth-child(2) span {
    padding: 0 10px;
}

.reservation .reservBox .reservChoice.reservList .listBox .rows .cols:nth-child(3) span {
    flex: 1;
}

.reservation .reservBox .reservChoice.reservList .listBox .rows .cols:nth-child(3) input {
    width: 90%;
    padding: 5px 10px;
}

.reservation .reservBox .reservChoice.reservList .listBox .rows .cols:last-child button {
    padding: 10px 20px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    background-color: #add2ffcc;
}

.reservation .reservBox .reservChoice.reservList .listBox .rows .cols:last-child button:hover,
button:active {
    cursor: pointer;
    background-color: #558BCF;
    color: #fff;
}