/* div {
    border: 1px solid black;
} */

* {
    font-family: Interop;
}

.sideContents .mainTitle {
    flex: unset;
    align-items: flex-start;
}

/* 사이드 메뉴 토글 효과 */
.sideAbout .addressListPrivate {
    padding-bottom: 30px;
}

/* 공통 스타일 */
.toggleItem .toggleTit {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.toggleItem .toggleTit::after {
    content: "";
    display: block;
    width: 20px;
    height: 23px;
    background-image: url(../images/icon/toggle.png);
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.2s ease;
    transform: rotate(0deg);
}

.toggleItem .toggleTit.active::after {
    transform: rotate(180deg);
}

.subList {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.2s ease, opacity 0.2s ease;
    padding-left: 20px;
}

.subList.active {
    max-height: 500px;
    /* 적당히 큰 값으로 설정 */
    opacity: 1;
}

.subList li:not(:last-child) {
    padding-bottom: 8px;
}

.subList li a.active {
    color: #558BCF;
    font-weight: 600;
}

/* 예약 관리 메인 화면 */
.reservation .reservList {
    flex: 9;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    gap: 5px;
}

.reservation .reservList .subTitle {
    font-size: 22px;
    display: flex;
    align-items: center;
    flex: .5;
}

.reservation .reservList .toolBar {
    flex: .5;
    padding-bottom: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 2px solid #c1c1c1;
}

.reservation .reservList .toolBar ul {
    flex: 8;
    display: flex;
}

.reservation .reservList .toolBar ul a {
    padding: 10px 0;
    position: relative;
    bottom: -10px;
    margin-right: 20px;
}

.reservation .reservList .toolBar ul a.active {
    font-weight: 600;
}

.reservation .reservList .toolBar ul a.active::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #888888;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* 검색창 */
.reservation .reservList .toolBar .searchBox {
    flex: 2;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reservation .reservList .toolBar .searchBox input {
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 16px;
}

.reservation .reservList .toolBar .searchBox button.searchBtn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #333;
    border-radius: 50%;
    transition: background 0.3s;
}

.reservation .reservList .toolBar .searchBox button.searchBtn:hover {
    background: #f0f0f0;
}

.reservation .reservList .listBox {
    flex: 9;
    /* height: 85%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.reservation .reservList .listBox .rows {
    flex: 1;
    display: flex;
    border-bottom: 1px solid #c1c1c1;
}

.reservation .reservList .listBox .rows:last-child {
    border-bottom: 2px solid #888888;
}

.reservation .reservList .listBox .rows.listHeader {
    border-radius: 15px;
    background-color: #555;
    color: #fff;
}

.reservation .reservList .listBox .rows .cols {
    padding: 7px 0;
    display: flex;
    justify-content: center;
}

.reservation .reservList .listBox .rows .cols:nth-child(1),
.cols:nth-child(2) {
    width: 15%;
}

.reservation .reservList .listBox .rows .cols:nth-child(3) {
    width: 40%;
}

.reservation .reservList .listBox .rows .cols:nth-child(4) {
    width: 30%;
}

.reservation .reservList .listBox .rows .cols:nth-child(5) {
    width: 10%;
}

.reservation .reservList .listBox .rows .cols span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.reservation .reservList .listBox .rows .cols span.emer {
    color: rgb(245, 115, 115);
    width: 45%;
    border: 1px solid rgb(245, 115, 115);
    border-radius: 25px;
}

.reservation .reservList .reservBoxNavi {
    flex: .5;
    display: flex;
    align-items: end;
    justify-content: center;
}

/* 차량 & 회의실 예약 페이지 */
.sideContents.reservation {
    gap: 20px;
}

.sideContents.reservation .reservBox {
    max-height: 650px;
    flex: 9;
}

.sideContents.reservation .reservBox .calendar {
    height: 100%;
}

.sideContents.reservation .reservBox .calendar h2 {
    padding-left: 10px;
    font-size: 1.4rem;
    color: #444444;
}

.fc .fc-button-primary:focus,
.fc-button-primary:not(:disabled).fc-button-active:focus,
.fc-button-primary:not(:disabled):active:focus {
    box-shadow: unset !important;
}

.fc .fc-button {
    border: none;
}

.fc-day-sun a {
    color: rgb(252, 107, 107);
}

.fc-day-sat a {
    color: #558BCF;
}

.fc .fc-button-primary {
    background-color: #558BCF;
}

.fc .fc-button-primary.fc-today-button {
    background-color: #c058f0;
}

.fc .fc-button-primary:hover,
.fc-button-primary:not(:disabled).fc-button-active,
.fc-button-primary:not(:disabled):active {
    background-color: #1268d4;
}

.fc .fc-button-primary.fc-today-button:hover {
    background-color: #9733c5;
}

.fc-daygrid-event {
    cursor: pointer;
}

/* 예약 페이지 모달창 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 30px 35px;
    border: 1px solid #fefefe;
    width: 35%;
    height: 73%;
    display: flex;
    border-radius: 25px;
    flex-direction: column;
    position: relative;
    top: 6vh;
    gap: 10px;
}

.modalClose {
    color: gray;
    float: right;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: -12px;
    right: -8px;
}

.modalClose:hover,
.modalClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal .calendarAdd li {
    padding: 7px 0;
}

.modal .calendarAdd input:not(.dateInput) {
    padding: 10px;
    margin-top: 7px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.modal .calendarAdd .dateInput {
    margin-top: 7px;
    padding: 10px;
    width: 23%;
    font-size: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#calendarText {
    margin-top: 7px;
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 8px;
    padding: 15px;
    overflow-y: auto;
    font-size: 16px;
    border: 1px solid #ccc;
}

.modal .calendarAdd .btns {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* 이벤트 클릭 시 */
.modal#eventModal .modalContent {
    height: 78%;
    top: 5vh;
}

.modal#eventModal .modalContent ul li:nth-child(2) input {
    width: 49%;
}

.cancelBtn {
    padding: 10px 20px;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    background-color: #dc3545;
    color: #fff;
}

.cancelBtn:hover {
    cursor: pointer;
    background-color: #c51221;
}

.okBtn {
    padding: 10px 20px;
    border: 1px solid #c1c1c1;
    border-radius: 8px;
    background-color: #558BCF;
    color: #fff;
}

.okBtn:hover {
    cursor: pointer;
    background-color: #1268d4;
}